.game-result {
  width: 75%;
  margin: auto;
  margin-bottom: 5em;
  color: #EEEEEE;

  h2 {
    font-weight: 200;
    text-align: center;
    margin: 0;
  }
  h3 {
    text-align: center;
    font-family: serif;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  ul {
    text-align: center;
    padding-left: 0;
    margin-bottom: 2.5em;

    li {
      display: inline-block;
      box-sizing: border-box;
      padding-top: .75em;
      width: 7.5em;
      height: 5em;
      text-align: center;
      background: rgba(222,16,16,0.75);

      small {
        display: block;
        font-size: 1em;
      }
      big {
        color: rgba(0,0,0,0.75);
        font-size: 1.5em;
      }
    }
    .result-vs {
      vertical-align: top;
      line-height: 4.75em;
      background: none;
      padding-top: 0;
      color: rgba(0,0,0,0.75);
      font-weight: bold;
      width: 4em;
    }
  }
  .game-summary {
    text-align: center;
    width: 100%;
    margin: auto;

    aside {
      box-sizing: border-box;
      background: rgba(222,16,16,0.75);
      border-radius: 10px;
      padding: 2em 1.5em;

      h4 {
        margin-top: 0;
        margin-bottom: .5em;
      }
      p {
        margin: 0;
        font-size: 1.25em;
      }
    }
  }
  .submit-comments {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    margin-top: 2.5em;
    padding: 1em 1.25em 1em 1.25em;
    color: #EEEEEE;

    .submit-button {
      margin-top: 1em;
      width: 6.5em;
      height: 3.5em;
      color: #EEEEEE;
      background: rgba(180,16,16,0.75);
      border-radius: 5px;
      border: none;
    }
    .submit-button:hover {
      background: rgba(222,16,16,0.75);
    }
  }
  a, a:hover {
    display: block;
    width: 100%;
    padding-top: 2.5em;
    text-align: center;
    color: #EEEEEE;
  }
}
