.game-result {
  width: 75%;
  margin: auto;
  margin-bottom: 5em;
  color: #EEEEEE;

  h2 {
    font-weight: 200;
    text-align: center;
    margin: 0;
  }
  h3 {
    text-align: center;
    font-family: serif;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  ul {
    text-align: center;
    padding-left: 0;
    margin-bottom: 2.5em;

    li {
      display: inline-block;
      box-sizing: border-box;
      padding-top: 1em;
      width: 7.5em;
      height: 5em;
      text-align: center;
      background: rgba(222,16,16,0.75);

      small {
        display: block;
      }
      big {
        color: rgba(0,0,0,0.75);
      }
    }
    .result-vs {
      vertical-align: top;
      line-height: 4.75em;
      background: none;
      padding-top: 0;
      color: rgba(0,0,0,0.75);
      font-weight: bold;
      width: 5em;
    }
  }
  .game-summary {
    text-align: center;
    width: 100%;
    margin: auto;

    aside {
      box-sizing: border-box;
      background: rgba(222,16,16,0.75);
      border-radius: 10px;
      padding: 2em 1.5em;

      h5 {
        font-weight: bold;
        margin-top: 0;
        margin-bottom: .5em;
      }
      p {
        margin: 0;
        font-size: 1em;
      }
    }
  }
}
