.game-stats {
  width: 80%;
  margin: auto;
  color: $font-color;
  background: $primary-black;
  border-radius: 4px;

  h2 {
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-top: .5em;
    color: rgba(222,16,16,.85);
  }
  h3 {
    text-align: center;
    font-family: serif;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  ul {
    text-align: center;
    padding: 0;
    margin-bottom: 0;

    li {
      display: inline-block;
      box-sizing: border-box;
      padding-top: .75em;
      width: 7.5em;
      height: 12em;
      text-align: center;

      a {
        text-decoration: none;
      }

      img {
        border-radius: 5px;
      }

      small {
        display: block;
        font-size: 1em;
      }
      big {
        color: rgba(222,16,16,.85);
        font-size: 1.5em;
      }
    }
    .result-vs {
      vertical-align: top;
      line-height: 10em;
      background: none;
      padding-top: 0;
      font-weight: bold;
      width: 4em;
    }
  }
  .game-summary {
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 2em;

    aside {
      box-sizing: border-box;
      border-radius: 10px;
      padding: 2em 1.5em;

      h4 {
        margin-top: 0;
        margin-bottom: .5em;
      }
      p {
        margin: 0;
        font-size: 1em;
        font-weight: 300;
      }
    }
  }
  .comments-section {
    padding-left: 1em;
    border-bottom: 1px solid $header-font-color;
    margin: 1em 0 0 0;
    font-weight: 300;
  }
  .u-no-comments {
    text-align: center;
    padding-top: 2em;
  }
  .submit-comments {
    border-radius: 10px;
    padding: 1em 1.25em 1em 1.25em;
    color: $font-color;

    figure {
      padding-bottom: 1em;

      img {
        vertical-align: baseline;
      }
      .author {
        font-size: 1em;
      }
    }

    .comment-block {
      background: #909090;
      margin-bottom: 1em;
      padding-top: .25em;
      padding-bottom: .75em;
      border-radius: 4px;

      small {
        font-size: 1em;
      }
      p {
        padding-top: .5em;
        margin-bottom: 2em;
        font-weight: 200;
        font-size: 1.75ex;
        clear: both;
      }
      .delete-comment {
        cursor: pointer;
        padding-right: 1em;
        text-decoration: underline;
      }
      .edit-comment {
        @extend .delete-comment;
      }
    }
    .comment-block::before {

    }
    .submit-button {
      margin-top: 1em;
      width: 6.5em;
      height: 3.5em;
      color: $font-color;
      background: $button-red;
      border-radius: 4px;
      border: none;
    }
    .submit-button:hover {
      background: $button-red-hover;
    }
  }

  .comments-login {
    text-align: center;
    font-size: 1em;
  }

  a, a:hover {
    display: block;
    width: 100%;
    padding-bottom: .5em;
    text-align: center;
    color: $font-color;
    font-size: 1em;
  }
}

@media screen and (max-width: 768px) {
  .game-stats {
    border-radius: 0;
    width: 100%;
  }
}
