$primary-black: rgba(0,0,0,0.5);
$primary-red: rgba(222,16,16,0.75);
$button-red: rgba(180,16,16,0.75);
$button-red-hover: rgba(222,16,16,0.75);
$font-color: #EEEEEE;
$header-font-color: #C9C9C9;

body {
  background: url(../images/hero_image-BW.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin-bottom: 2.5em;

  .ip-nav {
    border-radius: 0;
    border: none;
    background: $header-font-color;
    background: rgba(0,0,0,0.65);

    #namesake {
      color: $header-font-color;
      font-size: 2.5em;
      font-weight: 100;
      padding-top: .75ex;

      span {
        font-weight: 400;
        color: white;
      }
    }
    .route-links li {

      a {
        color: $header-font-color;
        font-size: 1.25em;
        font-weight: 300;
        padding-top: 1.75ex;
      }
      a:visited {
        color:$header-font-color;
      }
      a:hover {
        color: white;
      }
    }
    .route-links li:hover {
      background: rgba(0,0,0,0.30);
    }
    .route-links .navactive {
      background: rgba(0,0,0,0.30);
    }
  }
}

#mission {
  margin: auto;
  width: 90%;
  margin-bottom: 1em;
  text-align: center;
  color: $header-font-color;
}

footer {
  background: #2C2C2C;
  background: rgba(0,0,0,0.65);
  margin-top: 5em;
  padding-top: 1em;
  padding-bottom: 1em;

  .add-logo {
    text-align: center;
  }

  aside {
    color: #C9C9C9;
    font-size: 1em;
    font-weight: 300;
    padding-top: 1.5em;
    text-align: center;
  }
  ul {
    text-align: center;
    padding: 1em 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 1em;
      margin-left: 1em;

      a, a:visited, a:focus {
        font-size: 2ex;
        color: $header-font-color;
      }
      a:hover {
          color: white;
      }
    }
  }
}
