body {
  background: url(../images/hero_image-BW.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  @extend .clearfix;
  text-align: center;
  height: 2.5em;
  background: #2C2C2C;
  background: rgba(0,0,0,0.5);
}
