body {
  background: url(../images/hero_image-BW.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
  margin-bottom: 2.5em;

  .ip-nav {
    background: rgba(222,16,16,0.75);
    border-radius: 0;
    border: none;

    #namesake {
      color: #C6C6C6;
      font-size: 1.5em;
    }
    .route-links li {

      a {
        color: #C6C6C6;
      }
      a:visited {
        color: #C6C6C6;
      }
      a:hover {
        color: white;
      }
    }
    .route-links li:hover {
      background: rgba(140,16,16,0.4);
    }
  }

  h2 {
    color: #EEEEEE;
    font-family: serif;
    margin: 0;
    padding: .35em 0;
    text-align: center;
    background: #2C2C2C;
    background: rgba(0,0,0,0.65);
  }
  .extras .test-link {
    color: black;
  }
}

#mission {
  margin: auto;
  margin-top: 6em;
  width: 90%;
  text-align: center;
  color: #EEEEEE;
}

footer {
  background: #2C2C2C;
  background: rgba(0,0,0,0.65);
  margin-top: 2.5em;

  p {
    text-align: center;
    color: #EEEEEE;
    padding-top: .5em;
    margin-bottom: 0;
    font-size: .75em;
  }
  ul {
    text-align: center;
    padding: 1em 0;
    margin: 0;

    li {
      display: inline-block;
      margin-right: 1em;
      margin-left: 1em;
      background: #9C9C9C;
      height: 3.5em;
      width: 6em;
      border-radius: 6px;

      a {
        display: block;
        width: 100%;
        height: 100%;
        font-size: 2ex;
        color: rgba(0,0,0,0.5);
        line-height: 3.25em;
      }
      a:hover {
        color: rgba(0,0,0,0.5);
        text-decoration: none;
      }
    }
    li:hover {
      background: #B4B4B4;
    }
  }
}
