.table-section {
  width: 75%;
  margin: auto;
  background: #2C2C2C;
  background: rgba(0,0,0,0.5);
  color: #EEEEEE;
  padding: 1em;
  border-radius: 10px;
  text-align: center;

  .player-stats {
    th {
      text-align: center;
    }
    .player-login {
      text-align: left;
    }
    td {
      line-height: 30px;

      img {
        margin-right: 5px;
      }
    }
  }
}

.table-responsive {
  border: none;
}
