.recent-results {
  width: 90%;
  background: rgba(222,16,16,0.75);
  margin: auto;
  margin-bottom: 1.5em;
  border-radius: 10px;

  h3 {
    margin: 0;
    padding: .25em .5em;
    color: white;
    font-weight: 300;
  }

  ul {
    padding-left: 0;
    padding-bottom: .5em;
    list-style-type: none;
    margin-bottom: 0;

    li {
      @extend .clearfix;
      color: white;
      font-weight: 300;
      padding-left: 1.75em;

      div {
        display: inline-block;

        span {
          padding-left: .5em;
          color: rgba(0,0,0,0.75);
          font-weight: 500;
        }
        a {
          padding-left: .25em;
          color: #020F61;
        }
        a:hover {
          text-decoration: none;
        }
      }
      .recent-player1 {
        width: 30%;
      }
      .recent-player2 {
        width: 45%;
      }
      .vs {
        text-align: left;
        width: 10%;
      }
    }
  }
}

.stats {
  width: 90%;
  margin: auto;
  background: #2C2C2C;
  background: rgba(0,0,0,0.5);
  color: #EEEEEE;
  font-size: 1.5ex;
  border: 1px solid #9C9C9C;

  .head-row {
    border-bottom: 3px solid #9C9C9C;
    color: white;
  }
  tr {
    height: 2.5em;
    border-bottom: 1px solid #9C9C9C;

    th {
      text-align: center;
      font-weight: 200;
      width: 10%;
    }
    .table-player {
      text-align: left;
      padding-left: 1ex;
      width: 60%;
    }
    td {
      text-align: center;
      font-weight: 200;
      width: 10%;
    }
  }
}
