.table-section {
  width: 80%;
  margin: auto;
  background: #2C2C2C;
  background: $primary-red;
  color: $font-color;
  padding: 1em 1em 0 1em;
  border-radius: 4px;
  text-align: center;

  .toggle-buttons {
    text-align: left;
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline-block;
      padding: auto;
      text-align: center;
      height: 2.5em;
      width: 5em;
      line-height: 2.5em;
      cursor: pointer;
      background-color: #9C9C9C;
      background-color: rgba(0,0,0,0.25);
      border-right: 1px solid rgba(0,0,0,0.6);
    }
    li:last-child {
      border-right: none;
    }
    li:hover {
      background: rgba(0,0,0,0.5);
    }
    .active {
      background: rgba(0,0,0,0.5);
    }
  }

  .player-stats {
    th {
      text-align: center;
    }
    .player-login {
      text-align: left;
    }
    td {
      line-height: 40px;

      img {
        border-radius: 10px;
        margin-right: 5px;
      }
      a, a:hover {
        text-decoration: none;
        color: $font-color;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.table-responsive {
  border: none;
}

@media screen and (max-width: 768px) {
  .table-section {
    border-radius: 0;

    .toggle-buttons {
      text-align: center;
    }
    .player-stats {

      /* .hide-this {
        display: none;
      } */
    }
  }
}

@media screen and (max-width: 480px) {
.table-section {

  .player-stats {

      .hide-this {
        display: none;
      }
      .player-login {
        width: 5em;
      }
    }
  }
}
