.player-page {
  color: #EEEEEE;
  border-radius: 10px;
  background: #2C2C2C;
  background: rgba(0,0,0,0.5);
  padding: 2em;
  margin-bottom: 4.5em;

  figure, aside {
    @extend .clearfix;
    /* clear: left; */
    margin-bottom: 1em;
    text-align: center;

    img {
      border-radius: 10px;
    }
  }

  h5, address, p {
    margin-bottom: .75em;
  }
}

.narcissistic-stats {
  margin: auto;
  margin-top: 1em;
  color: #EEEEEE;
  padding: 1em 1em 0 1em;
  text-align: center;
  clear: left;

  .player-stats {
    margin-bottom: .5em;

    th {
      text-align: center;
    }
    .player-login {
      text-align: left;
    }
  }
}

.table-responsive {
  border: none;
}
