.recent-games-table {
  width: 80%;
  margin: auto;
  background: #D23838;
  background: $primary-red;
  color: $font-color;
  padding: 1em;
  border-radius: 4px;
  text-align: center;

/*   .score-added {
  text-align: center;
} */
  .borderless {

    td {
      border: none;
      line-height: 30px;
      text-align: left;

      img {
        border-radius: 10px;
        margin-right: 5px;
      }
      a, a:hover {
        text-decoration: none;
        color: $font-color;
        display: block;
        height: 100%;
        width: 100%;
      }
      .view-game {
        background: rgba(0,0,0,0.25);
        text-align: center;
        border-radius: 4px;
        font-size: .9em;
        font-weight: 200;
      }
      .view-game:hover {
        background: rgba(0,0,0,0.5);
      }
    }

    .data-center {
      text-align: left;
    }
  }
}

.table-responsive {
  border: none;
}

@media screen and (max-width: 768px) {
  .recent-games-table {
    border-radius: 0;
  }
}
