.recent-games-table {
  width: 75%;
  margin: auto;
  background: #D23838;
  background: rgba(222,16,16,0.75);
  color: #EEEEEE;
  padding: 1em;
  border-radius: 10px;
  text-align: center;

  .score-added {
    text-align: center;
  }
  .borderless{
    td {
      border: none;
      line-height: 30px;
      text-align: left;

      img {
        margin-right: 5px;
      }
    }
    .data-center {
      text-align: center;
    }
  }
}

.table-responsive {
  border: none;
}

/* .recent-results {
  width: 90%;
  background: rgba(222,16,16,0.75);
  margin: auto;
  margin-bottom: 1.5em;
  border-radius: 10px;

  h3 {
    margin: 0;
    padding: .25em .5em;
    color: white;
    font-weight: 300;
  }

  ul {
    padding-left: 0;
    padding-bottom: .5em;
    list-style-type: none;
    margin-bottom: 0;

    li {
      @extend .clearfix;
      color: white;
      font-weight: 300;
      padding-left: 1.75em;

      div {
        display: inline-block;

        span {
          padding-left: .5em;
          color: rgba(0,0,0,0.75);
          font-weight: 500;
        }
        a {
          padding-left: .25em;
          color: #020F61;
        }
        a:hover {
          text-decoration: none;
        }
      }
      .recent-player1 {
        width: 30%;
      }
      .recent-player2 {
        width: 45%;
      }
      .vs {
        text-align: left;
        width: 10%;
      }
    }
  }
} */
