.recent-games-table {
  width: 75%;
  margin: auto;
  background: #D23838;
  background: rgba(222,16,16,0.75);
  color: #EEEEEE;
  padding: 1em;
  border-radius: 10px;
  text-align: center;

  .score-added {
    text-align: center;
  }
  .borderless{
    td {
      border: none;
      line-height: 30px;
      text-align: left;

      img {
        margin-right: 5px;
      }
      a, a:hover {
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
      }
    }
    .data-center {
      text-align: center;
    }
  }
}

.table-responsive {
  border: none;
}
