.submit-results {
  width: 90%;
  margin: auto;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  padding: .25em .75em 1em .75em;
  color: #EEEEEE;

  h3 {
    font-weight: 300;
    margin-top: 0;
  }
  label {
    margin: 0;
  }
  select {
    width: 75%;
  }
  input {
    width: 50%;
  }
  h4 {
    margin-bottom: .25em;
  }
  .submit-button {
    margin-top: 1em;
    width: 6.5em;
    height: 3.5em;
    color: #EEEEEE;
    background: rgba(180,16,16,0.75);
    border-radius: 5px;
    border: none;
  }
  .submit-button:hover {
    background: rgba(222,16,16,0.75);
  }
}
