<!doctype html>
<html class="no-js" lang="" ng-app="iron-pong">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IronPong</title>

    <link rel="icon" type="image/ico" href="tip-red-favicon.ico">
    <link rel="shortcut icon" href="tip-red-favicon.ico">
    <!-- Place favicon.ico in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="/bower_components/ng-table/dist/ng-table.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <main>
      <header ng-controller="MainController as app">
        <nav class="navbar navbar-default ip-nav">
          <div>
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a ng-click="app.checkAuth()" class="navbar-brand" id="namesake" ui-sref="recentresults">
                iron<span>pong</span>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse route-links" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li ng-click="app.collapseMenu()"><a ui-sref="recentresults">Results</a></li>
                <li ng-click="app.collapseMenu()"><a ui-sref="leaderboard">Leaderboard</a></li>
                <li ng-click="app.collapseMenu()"><a ui-sref="submit">Submit</a></li>
                <li ng-click="app.login(); app.collapseMenu()" ng-hide="app.authData"><a ui-sref="recentresults">Login</a></li>
                <li ng-click="app.logout(); app.collapseMenu()" ng-show="app.authData"><a ui-sref="recentresults">Logout</a></li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </header>
      <div ui-view></div>
      <p id="mission">Iron Pong is a table tennis results tracker built for members of the
        2015 Summer Front End Engineering course at The Iron Yard Orlando. Cohort members can
        submit scores using the submit page after logging in. Non-members are welcome
        to login via GitHub and comment on match results.
      </p>
      <footer class="container-fluid col-md-12">
        <div class="col-md-3 add-logo">
          <img src="images/tip-logo-red.png" width="150" height="auto">
        </div>
        <aside class="col-md-6 site-info">
          <p>♥ This site is fueled by RedBull, Tanqueray's, and some AngularJS. Enjoy!</p>
          <p>©2015 Sean Joyal. All Rights Reserved.</p>
        </aside>
        <ul class="col-md-3 project-logos">
          <li role="navigation">
            <a href="https://github.com/sjoyal/iron-pong" target="_blank">
              <i class="fa fa-github fa-4x"></i>
            </a>
          </li>
          <li role="navigation">
            <a href="mailto:sean.joyal@gmail.com">
              <i class="fa fa-envelope fa-4x"></i>
            </a>
          </li>
        </ul>
      </footer>
    </main> <!-- ng-controller -->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/firebase/firebase.js"></script>
    <script src="/bower_components/angularfire/dist/angularfire.js"></script>
    <script src="/bower_components/ng-table/dist/ng-table.min.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/lodash/lodash.js"></script>
    <script src="/bower_components/moment/moment.js"></script>
    <script src="/bower_components/restangular/dist/restangular.js"></script>
    <script src="/bower_components/angular-moment/angular-moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js scripts/plugins.js -->
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js"></script>
    <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/main.js -->
    <script src="scripts/iron-pong.js"></script>
    <script src="scripts/iron-pong/login.controller.js"></script>
    <script src="scripts/iron-pong/leaderboard.controller.js"></script>
    <script src="scripts/iron-pong/recentresults.controller.js"></script>
    <script src="scripts/iron-pong/gameresult.controller.js"></script>
    <script src="scripts/iron-pong/playerpage.controller.js"></script>
    <script src="scripts/iron-pong/submitgameresult.controller.js"></script>
    <script src="scripts/iron-pong/services/results.service.js"></script>
    <!-- endbuild -->
  </body>
</html>
