<section class="game-result">
  <h2>Winner!</h2>
  <h3>{{gameresult.game.winner.login}}</h3>
  <ul>
    <li>
      <small class="result-player1">{{gameresult.game.winner.login}}</small>
      <big>{{gameresult.game.winnerScore}}</big>
    </li>
    <li class="result-vs">vs</li>
    <li>
      <small class="result-player2">{{gameresult.game.loser.login}}</small>
      <big>{{gameresult.game.loserScore}}</big>
    </li>
  </ul>
  <div class="game-summary">
    <aside>
      <h4>GAME SUMMARY</h4>
      <p>{{gameresult.game.summary}}</p>
    </aside>
  </div>
  <aside class="submit-comments">
    <figure ng-repeat="(id, comment) in gameresult.game.comments">
      <img ng-src="{{comment.avatar}}" width="30" height="30">
      <author>{{comment.author}}</author><span>{{id}}</span>
        <a href="gameresult" class="pull-right" ng-click="gameresult.deleteComment(id)">Delete</a>
      <p>{{comment.comment}}</p>
    </figure>
    <form name="submitComments" ng-submit="gameresult.submitComment()">
      <textarea class="form-control" ng-model="gameresult.comment.comment" rows="5" placeholder="Talk smack!" required></textarea>
      <button name="submit" class="submit-button">Submit</button>
    </form>
  </aside>
  <a ui-sref="recentresults" ng-click="gameresult.deleteGame()"
    ng-show="gameresult.authData.github.username === gameresult.game.createdBy">
    Delete Result
  </a>
  <a ui-sref="recentresults">Back to Recent Results</a>
</section> <!--.container-->
