<section class="game-result">
  <h2>Winner!</h2>
  <h3>{{gameresult.game.winner.login}}</h3>
  <ul>
    <li>
      <small class="result-player1">{{gameresult.game.winner.login}}</small>
      <big>{{gameresult.game.winnerScore}}</big>
    </li>
    <li class="result-vs">vs</li>
    <li>
      <small class="result-player2">{{gameresult.game.loser.login}}</small>
      <big>{{gameresult.game.loserScore}}</big>
    </li>
  </ul>
  <div class="game-summary">
    <aside>
      <h4>GAME SUMMARY</h4>
      <p>{{gameresult.game.summary}}</p>
    </aside>
  </div>
  <a ui-sref="gameresult" ng-click="gameresult.deleteGame()">Delete Result</a>
  <a ui-sref="recentresults">Back to Recent Results</a>
</section> <!--.container-->
