<section class="table-section table-responsive">
  <ul class="toggle-buttons">
    <li ng-click="selectTab(1)" ng-class="{active:isSelected(1)}">Wins</li><!--
 --><li ng-click="selectTab(2)" ng-class="{active:isSelected(2)}">Losses</li><!--
 --><li ng-click="selectTab(3)" ng-class="{active:isSelected(3)}">Win %</li><!--
 --><li ng-click="selectTab(4)" ng-class="{active:isSelected(4)}">Games</li>
  </ul>
  <table class="table player-stats" ng-show="isSelected(1)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard | orderBy:'-gamesWonLength'">
        <td class="player-login">
          <img width="30" height="30" ng-src="{{leader.avatarUrl[0]}}"/>
          {{leader.$id}}
        </td>
        <td data-title="'Wins'">{{leader.gamesWonLength}}</td>
        <td data-title="'Losses'">{{leader.gamesLostLength}}</td>
        <td data-title="'Win %'">
          {{leader.pct}}</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="isSelected(2)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard | orderBy:'-gamesLostLength'">
        <td class="player-login">
          <img width="30" height="30" ng-src="{{leader.avatarUrl[0]}}"/>
          {{leader.$id}}
        </td>
        <td data-title="'Wins'">{{leader.gamesWonLength}}</td>
        <td data-title="'Losses'">{{leader.gamesLostLength}}</td>
        <td data-title="'Win %'">
          {{leader.pct}}</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="isSelected(3)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard | orderBy:'-pct'">
        <td class="player-login">
          <img width="30" height="30" ng-src="{{leader.avatarUrl[0]}}"/>
          {{leader.$id}}
        </td>
        <td data-title="'Wins'">{{leader.gamesWonLength}}</td>
        <td data-title="'Losses'">{{leader.gamesLostLength}}</td>
        <td data-title="'Win %'">
          {{leader.pct}}</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="isSelected(4)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard | orderBy:'-gamesPlayed'">
        <td class="player-login">
          <img width="30" height="30" ng-src="{{leader.avatarUrl[0]}}"/>
          {{leader.$id}}
        </td>
        <td data-title="'Wins'">{{leader.gamesWonLength}}</td>
        <td data-title="'Losses'">{{leader.gamesLostLength}}</td>
        <td data-title="'Win %'">
          {{leader.pct}}</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
</section><!--.table-section-->
