<!-- <div ng-show="leaderboard.playerStats.length === 0" class="y-no-leaders">
  <span class="cry">&#128546;</span>
  <p class="no-leaders-text">No friends? Submit a result and make this look less sad.</p>
</div> -->
<section class="table-section table-responsive" id="leaderboard-height">
  <ul class="toggle-buttons">
    <li ng-click="leaderboard.selectTab(1)" ng-class="{active:leaderboard.isSelected(1)}">Wins</li><!--
 --><li ng-click="leaderboard.selectTab(2)" ng-class="{active:leaderboard.isSelected(2)}">Losses</li><!--
 --><li ng-click="leaderboard.selectTab(3)" ng-class="{active:leaderboard.isSelected(3)}">Win %</li><!--
 --><li ng-click="leaderboard.selectTab(4)" ng-class="{active:leaderboard.isSelected(4)}">Games</li>
  </ul>
  <table class="table player-stats" ng-show="leaderboard.isSelected(1)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>W<span class="hide-this">ins</span></th>
        <th>L<span class="hide-this">osses</span></th>
        <th><span class="hide-this">Win </span>%</th>
        <th>G<span class="hide-this">ames</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:['-wins','-pct']">
        <td class="player-login">
          <a ui-sref="player({playerID: leader.login})">
            <img width="40" height="auto" ng-src="{{leader.avatar}}"/>
            <span class="hide-this">{{leader.login}}</span>
          </a>
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="leaderboard.isSelected(2)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>W<span class="hide-this">ins</span></th>
        <th>L<span class="hide-this">osses</span></th>
        <th><span class="hide-this">Win </span>%</th>
        <th>G<span class="hide-this">ames</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:['-losses','-pct']">
        <td class="player-login">
          <a ui-sref="player({playerID: leader.login})">
            <img width="40" height="auto" ng-src="{{leader.avatar}}"/>
            <span class="hide-this">{{leader.login}}</span>
          </a>
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="leaderboard.isSelected(3)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>W<span class="hide-this">ins</span></th>
        <th>L<span class="hide-this">osses</span></th>
        <th><span class="hide-this">Win </span>%</th>
        <th>G<span class="hide-this">ames</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:['-pct','-gamesPlayed']">
        <td class="player-login">
          <a ui-sref="player({playerID: leader.login})">
            <img width="40" height="auto" ng-src="{{leader.avatar}}"/>
            <span class="hide-this">{{leader.login}}</span>
          </a>
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="leaderboard.isSelected(4)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>W<span class="hide-this">ins</span></th>
        <th>L<span class="hide-this">osses</span></th>
        <th><span class="hide-this">Win </span>%</th>
        <th>G<span class="hide-this">ames</span></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:['-gamesPlayed','-wins']">
        <td class="player-login">
          <a ui-sref="player({playerID: leader.login})">
            <img width="40" height="auto" ng-src="{{leader.avatar}}"/>
            <span class="hide-this">{{leader.login}}</span>
          </a>
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
</section><!--.table-section-->
