<section class="table-section table-responsive">
  <ul class="toggle-buttons">
    <li ng-click="leaderboard.selectTab(1)" ng-class="{active:leaderboard.isSelected(1)}">Wins</li><!--
 --><li ng-click="leaderboard.selectTab(2)" ng-class="{active:leaderboard.isSelected(2)}">Losses</li><!--
 --><li ng-click="leaderboard.selectTab(3)" ng-class="{active:leaderboard.isSelected(3)}">Win %</li><!--
 --><li ng-click="leaderboard.selectTab(4)" ng-class="{active:leaderboard.isSelected(4)}">Games</li>
  </ul>
  <table class="table player-stats" ng-show="leaderboard.isSelected(1)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:'-wins'">
        <td class="player-login">
          <a ui-sref="player({playerID: leader.login})">
            <img width="30" height="30" ng-src="{{leader.avatar}}"/>
            {{leader.login}}
          </a>
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="leaderboard.isSelected(2)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:'-losses'">
        <td class="player-login">
          <img width="30" height="30" ng-src="{{leader.avatar}}"/>
          {{leader.login}}
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="leaderboard.isSelected(3)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:'-pct'">
        <td class="player-login">
          <img width="30" height="30" ng-src="{{leader.avatar}}"/>
          {{leader.login}}
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
  <table class="table player-stats" ng-show="leaderboard.isSelected(4)">
    <thead>
      <tr>
        <th class="player-login">Player</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Win %</th>
        <th>Games</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="leader in leaderboard.playerStats | orderBy:'-gamesPlayed'">
        <td class="player-login">
          <img width="30" height="30" ng-src="{{leader.avatar}}"/>
          {{leader.login}}
        </td>
        <td data-title="'Wins'">{{leader.wins}}</td>
        <td data-title="'Losses'">{{leader.losses}}</td>
        <td data-title="'Win %'">
          {{leader.pct | number:0}}%</td>
        <td data-title="'Games'">{{leader.gamesPlayed}}</td>
      </tr>
    </tbody>
  </table><!-- .table -->
</section><!--.table-section-->
