<section class="player-page">
  <figure class="col-sm-4 col-sm-offset-4">
    <img height="200" width="200" ng-src="{{playerPage.athlete.avatar}}">
  </figure>
  <aside class="col-sm-4 col-sm-offset-4">
    <h2>{{playerPage.athlete.login}}</h2>
    <h5>{{playerPage.athleteDetails.name}}</h5>
    <address>{{playerPage.athleteDetails.email}}</address>
    <address>{{playerPage.athleteDetails.location}}</address>
    <p>{{playerPage.athleteDetails.bio}}</p>
  </aside>
  <div class="narcissistic-stats table-responsive">
    <table class="table player-stats">
      <thead>
        <tr>
          <!-- <th class="player-login">Player</th> -->
          <th>W<span class="hide-this">ins</span></th>
          <th>L<span class="hide-this">osses</span></th>
          <th><span class="hide-this">Win </span>%</th>
          <th>G<span class="hide-this">ames</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td class="player-login">{{playerPage.athlete.login}}</td> -->
          <td>{{playerPage.athlete.wins}}</td>
          <td>{{playerPage.athlete.losses}}</td>
          <td>{{playerPage.athlete.pct | number:0}}%</td>
          <td>{{playerPage.athlete.gamesPlayed}}</td>
        </tr>
      </tbody>
    </table> <!--.table player-stats-->
  </div> <!--.narcissistic-stats-->
</section> <!--.container player-page-->
