<section class="container player-page">
  <figure class="col-md-4">
    <img height="180" width="180" ng-src="{{playerPage.athlete.avatar}}">
  </figure>
  <aside class="col-md-8">
    <h2>{{playerPage.athlete.login}}</h2>
    <h5>{{playerPage.athleteDetails.name}}</h5>
    <address>{{playerPage.athleteDetails.email}}</address>
    <address>{{playerPage.athleteDetails.location}}</address>
    <p>{{playerPage.athleteDetails.bio}}</p>
  </aside>
  <div class="narcissistic-stats table-responsive">
    <table class="table player-stats">
      <thead>
        <tr>
          <!-- <th class="player-login">Player</th> -->
          <th>Wins</th>
          <th>Losses</th>
          <th>Win %</th>
          <th>Games</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <!-- <td class="player-login">{{playerPage.athlete.login}}</td> -->
          <td>{{playerPage.athlete.wins}}</td>
          <td>{{playerPage.athlete.losses}}</td>
          <td>{{playerPage.athlete.pct}}%</td>
          <td>{{playerPage.athlete.gamesPlayed}}</td>
        </tr>
      </tbody>
    </table> <!--.table player-stats-->
  </div> <!--.narcissistic-stats-->
</section> <!--.container player-page-->
