<section class="container player-page">
  <figure class="col-md-4">
    <img height="180" width="180" src="http://lorempixel.com/400/200/people/">
  </figure>
  <aside class="col-md-8">
    <h2>Sean Joyal</h2>
    <h5>sjoyal</h5>
    <address>sean.joyal@gmail.com</address>
    <address>Duval / Orlando</address>
    <p>The Iron Yard -- Orlando</p>
  </aside>
  <div class="narcissistic-stats table-responsive">
    <table class="table player-stats">
      <thead>
        <tr>
            <th class="player-login">Player</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win %</th>
            <th>Games</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="player-login">sjoyal</td>
          <td>55</td>
          <td>14</td>
          <td>.757</td>
          <td>69</td>
        </tr>
      </tbody>
    </table> <!--.table player-stats-->
  </div> <!--.narcissistic-stats-->
</section> <!--.container player-page-->
