<section class="recent-games-table table-responsive" id="table-height">
  <h3 class="pull-left">Match Results</h3>
  <table class="table borderless">
    <thead>
      <tr>
          <th>Winner</th>
          <th>Score</th>
          <th>Loser</th>
          <th>Score</th>
          <th>Submitted</th>
          <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in recentresults.scores | orderBy: '-createdOn'">
        <td>
          <a ui-sref="player({playerID: result.winner.login})">
            <img width="35" height="auto" ng-src={{result.winner.avatar_url}}/>
            <span class="hide-this">{{result.winner.login}}</span>
          </a>
        </td>
        <td>{{result.winnerScore}}</td>
        <td>
          <a ui-sref="player({playerID: result.loser.login})">
            <img width="35" height="auto" ng-src={{result.loser.avatar_url}}/>
            <span class="hide-this">{{result.loser.login}}</span>
          </a>
        </td>
        <td>{{result.loserScore}}</td>
        <td class="data-center"><time am-time-ago="result.createdOn"><time></td>
        <td><a class="view-game" ui-sref="gameresult({gameresultID: result.$id})">view</a><td>
      </tr> <!--END ng-repeat-->
    </tbody>
  </table><!-- .table -->
</section><!--.recent-games-table-->
