<section class="recent-games-table table-responsive">
  <h3 class="pull-left">Recent Results</h3>
  <table class="table borderless">
    <thead>
      <tr>
          <th>Winner</th>
          <th>Score</th>
          <th>Loser</th>
          <th>Score</th>
          <th class="score-added">Submitted</th>
          <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="result in recentresults.scores | orderBy: '-created_on'">
        <td>
          <img width="30" height="30" ng-src={{result.winner.avatar_url}}/>
          {{result.winner.login}}
        </td>
        <td>{{result.winnerScore}}</td>
        <td>
          <img width="30" height="30" ng-src={{result.loser.avatar_url}}/>
          {{result.loser.login}}
        </td>
        <td>{{result.loserScore}}</td>
        <td class="data-center"><time am-time-ago="result.createdOn"><time></td>
        <td><a ui-sref="gameresult({gameresultID: result.$id})">view</a><td>
      </tr> <!--END ng-repeat-->
    </tbody>
  </table><!-- .table -->
</section><!--.recent-games-table-->
