<section class="submit-results">
  <h2>Submit Results</h2>
  <form class="answer-form">
    <label>Player 1:</label>
    <select class="form-control" name="player1">
      <option selected>Select player</option>
      <option value="sjoyal">sjoyal</option>
      <option value="pcreglow">pcreglow</option>
      <option value="jorgehjr84">jorgehjr84</option>
      <option value="al-the-x">al-the-x</option>
      <option value="gatorpazz">gatorpazz</option>
    </select>
    <label>Player 2:</label>
    <select class="form-control" name="player1">
      <option selected>Select player</option>
      <option value="sjoyal">sjoyal</option>
      <option value="pcreglow">pcreglow</option>
      <option value="jorgehjr84">jorgehjr84</option>
      <option value="al-the-x">al-the-x</option>
      <option value="gatorpazz">gatorpazz</option>
    </select>
    <label>Player 1 Score</label>
    <input class="form-control" name="player1score" placeholder="Enter score"></input>
    <label>Player 2 Score</label>
    <input class="form-control" name="player2score" placeholder="Enter score"></input>
    <label>Winner:</label>
    <select class="form-control" name="player1">
      <option selected>Select winner</option>
      <option value="sjoyal">sjoyal</option>
      <option value="pcreglow">pcreglow</option>
      <option value="jorgehjr84">jorgehjr84</option>
      <option value="al-the-x">al-the-x</option>
      <option value="gatorpazz">gatorpazz</option>
    </select>
    <label>Loser:</label>
    <select class="form-control" name="player1">
      <option selected>Select loser</option>
      <option value="sjoyal">sjoyal</option>
      <option value="pcreglow">pcreglow</option>
      <option value="jorgehjr84">jorgehjr84</option>
      <option value="al-the-x">al-the-x</option>
      <option value="gatorpazz">gatorpazz</option>
    </select>
    <h4>Summary</h4>
    <textarea class="form-control" name="game-summary" rows="5">Provide a brief game description here</textarea>
    <button class="submit-button">Submit</button>
  </form> <!--.answer-form-->
</section>
