<section class="submit-results">
  <h3>Submit Results</h3>
  <div ng-hide="submit.authData" class="u-no-login">
    <p class="bang">&#10071;</p>
    <p>Login with GitHub to view additional details about players and make comments on matches. Submitting match
      results is limited to registered GitHub users that star the <a href="https://github.com/sjoyal/iron-pong" class="gimme-stars">Iron Pong GitHub repo.</a></p>
  </div>
  <div ng-show="submit.authData && !submit.access" class="u-no-access">
    <p class="bang">&#10071;</p>
    <p>Match submission privileges are reserved for users that star the <a href="https://github.com/sjoyal/iron-pong" class="gimme-stars">Iron Pong GitHub repo.</a></p>
  </div>
  <form ng-show="submit.authData && submit.access" name="submitDemResults" ng-submit="submit.addResults()">
    <div class="form-group scorez">
      <figure class="col-sm-6">
        <label>Winner</label><br>
        <!-- <select class="form-control" ng-model="submit.gameresult.winner"
          ng-options="player.login for player in submit.players" required>
          <option></option>
        </select> -->
        <input list="competitors" type="text" class="form-control playas" ng-model="submit.gameresult.winner">
      </figure>
      <figure class="col-sm-6">
        <label>Score</label><br>
        <input class="form-control playa-score" ng-model="submit.gameresult.winnerScore"
          required type="number" min="0" max="21">
        </input>
      </figure>
    </div>
    <div class="form-group scorez">
      <figure class="col-sm-6">
        <label>Loser</label><br>
  <!--   <select class="form-control" ng-model="submit.gameresult.loser"
            ng-options="player.login for player in submit.players" required>
            <option></option>
          </select> -->
        <input list="competitors" type="text" class="form-control playas" ng-model="submit.gameresult.loser">
      </figure>
      <figure class="col-sm-6">
        <label>Score</label><br>
        <input class="form-control playa-score" ng-model="submit.gameresult.loserScore"
          required type="number" min="0" max="21">
        </input>
      </figure>
    </div>
    <h4>Play-by-play</h4>
    <textarea class="form-control" ng-model="submit.gameresult.summary" rows="8"
      placeholder="e.g. John hit a backhand smash on match point. It was epic!!!...."></textarea>
    <button name="submit" class="submit-button">Submit</button>
  </form> <!--submitResults()-->
</section>
<datalist id="competitors">
<!--   <select class="form-control" ng-model="submit.gameresult.loser"
  ng-repeat="player.login for player in submit.players" required>
  <option></option>
</select> -->
  <option ng-repeat="player in submit.players" value="{{player.login}}" required></option>
</datalist>
<section id="errorMessage" class="modal fade" role="Confirmation Message">
 <div class="modal-dialog">
   <!-- Modal content-->
   <div class="modal-content">
     <div class="modal-header">
       <h3 class="modal-title">You did something stoopid.</h3>
     </div>
     <div class="modal-body well" data-dismiss="modal">
       <h5>{{submit.errorMessage}}</h5>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-danger btn-lg pull-right" data-dismiss="modal">Cancel</button>
     </div>
   </div>
 </div>
</section>
