<section class="submit-results">
  <div ng-repeat="result in results">
    <img ng-src="{{result.winner.avatar_url}}" height="30" width="30">
    <big>{{result.winner.login}}</big><small>{{result.winnerScore}}</small><br>
    <img ng-src="{{result.loser.avatar_url}}" height="30" width="30">
    <big>{{result.loser.login}}</big><small>{{result.loserScore}}</small>
    <p>{{result.summary}}{{result.created}}</p>
    <a ng-click="deleteResult($index)">delete</a>
  </div>

  <h3>Submit Results</h3>
  <form ng-submit="submitResults()">
    <div class="form-group">
      <label>Winner:</label>
      <select class="form-control" ng-model="gameresult.winner" ng-change="addPlayer1(player1.login)" ng-options="player.login for player in players"></select>
      <label>Score</label>
      <input class="form-control" ng-model="gameresult.winnerScore" placeholder="Enter score" style="width: 50%;"></input>
    </div>
    <div class="form-group">
      <label>Loser:</label>
      <select class="form-control" ng-model="gameresult.loser" ng-change="addPlayer2(player2.login)" ng-options="player.login for player in players"></select>
      <label>Score</label>
      <input class="form-control" ng-model="gameresult.loserScore" placeholder="Enter score"></input>
    </div>
    <!-- <label>Winner:</label>
    <select class="form-control" ng-model="winner" ng-options="competitor for competitor in competitors"></select>
    <label>Loser:</label>
    <select class="form-control" ng-model="loser" ng-options="competitor for competitor in competitors"></select> -->
    <h4>Summary</h4>
    <textarea class="form-control" ng-model="gameresult.summary" rows="5" placeholder="Provide a brief game description here"></textarea>
    <button name="submit" class="submit-button">Submit</button>
  </form> <!--submitResults()-->
</section>
